.site-nav--pseudo {
  &::after {
    content: '';
    position: absolute;
    background-image: url(../images/icons/hover.svg);
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
